In [1]:
import pandas as pd

df = pd.read_csv('the-office-lines.csv')

In [33]:
import nltk

from nltk.corpus import stopwords
from nltk.tokenize import wordpunct_tokenize

top_words = pd.DataFrame()

seasons = [1,2,3,4,5,6,7,8,9]

characters = ["Michael", 
              "Dwight", 
              "Jim",
              "Pam",
              "Ryan",
              "Andy",
              "Robert California",
              "Jan",
              "Roy",
              "Stanley",
              "Kevin",
              "Meredith",
              "Angela",
              "Oscar",
              "Phyllis",
              "Kelly",
              "Toby",
              "Creed",
              "Darryl",
              "Erin",
              "Gabe",
              "Holly",
              "Nellie",
              "Clark",
              "Pete"]
top_N = 10

word_dist = nltk.FreqDist(words)
stopwords = set(stopwords.words('english'))
stopwords.update(['.', ',', '"', "'", '?', '!', ':', ';', '(', ')', '[', ']', '{', '}']) # remove it if you need punctuation 
stopwords.update(["'re","'s","n't","'m","...","'ll","i���m","it���s","that���s","you���re"])
stopwords.update(["oh","well","like","okay","yeah","hey","uh","really","na","um"])

# for each character, get the top N words, frequency, and order
for c in characters:
    for s in seasons:
        d = df[(df.speaker == c) & (df.season == s)]
        # remove text in brackets 
        txt = d.line_text.str.lower().str.replace(r"(\[.*\])",' ').str.cat(sep=' ')
        words = nltk.tokenize.word_tokenize(txt)

        words_except_stop_dist = nltk.FreqDist(w for w in words if w not in stopwords)

        rlst = pd.DataFrame(words_except_stop_dist.most_common(top_N),
                       columns=['word','frequency'])

        rlst['character'] = c
        rlst['season'] = s
        rlst['order'] = rlst.index + 1

        top_words = top_words.append(rlst)

In [34]:
top_words[(top_words.character == "Clark") & (top_words.season == 9)]

    word frequency character  season order
0   know        22     Clark       9     1
1    got        18     Clark       9     2
2  right        17     Clark       9     3
3   mean        13     Clark       9     4
4    get        12     Clark       9     5
5  think        10     Clark       9     6
6    one         9     Clark       9     7
7   good         8     Clark       9     8
8   love         8     Clark       9     9
9   time         8     Clark       9    10

In [35]:
top_words.to_csv("the-office-lines-text-by-character.csv")